<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar navbar-dark bg-primary">
  <a class="navbar-brand" href="#"><label>StoreMyResult</label></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#"> Home</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#"> About </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/sign">Signup</a>
      </li>
    </ul>
  </div>
</nav>



 <div class="container">
  <h1 class="alter"> <b> STORE MY RESULT</b> </h1>
     
  <p class="para"> The most important part of making this site is the user experience, which results in
specific university websites do not focus on design as functionality outweighs design in
these specific websites, which can further ruin the user experience, here the focus lies
on functionality and design.
The Working Process is pretty simple here we ask students to create an account with
us and we tend to store the data that they enter, the data might include USN, NAME
and SUBJECT NAMES with their finalized marks, once that is done we keep a submit
option wherein the users/Students can submit their responses, the content of the web page at the time of submission should be downloadable in pdf form for their reference,
the data of the user should be completely secured and (s)he has to make an account
and set their password to access their account at any point in time. This will make it
easier for the students to retrieve their results or marks of any subject of any semester
anytime.</p>  </div>


<footer>
     <div class="footy">
     <a class="foot" href="#"><i class="fa fa-facebook-square fa-3x"></i></a>
     <a class="foot" href="#"><i class="fa fa-instagram fa-3x"></i></a>
     <a class="foot" href="#"><i class="fa fa-twitter fa-3x"></i></a>
     </div>
     <div class="outer-footer">
     Copyright &copy; StoreMyResult. All Rights Reserved.
     </div>
 </footer>
















    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
