<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body class="fully">
  <div class="container2">
  <div class="row">
  <div class="col"></div>
  <div class="col-6">
   <div class="card input-card">
  <div class="card-body">

      <label class="l l1"><b>StoreMyResult</b></label>

      <form  class="alter"  method="POST"  action="/inputpage">
           <div class="form-group">
           <label for="formGroupExampleInput">Name</label>
           <input type="text" class="form-control" id="formGroupExampleInput" placeholder="" name="name">
            </div>

            <div class="form-group">
            <label for="formGroupExampleInput2">USN</label>
            <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="" name="usn">
            </div>

            <div class="form-group">
            <label for="formGroupExampleInput2">Subject</label>
            <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="" name="subject">
            </div>

            <div class="form-group">
            <label for="formGroupExampleInput2">Mark</label>
            <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="" name="marks"> <br> <br>
            <button type="submit" class="btn btn-primary btn-lg">Save</button>
            </div>

    </form>

           
    </div>
    </div>
    </div>

   <div class="col"></div>
  </div>
  </div>



 <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>



